/*=== Base settings ===*/
:root{
    --default-font-size: 16px;

    font-size: var(--default-font-size);
    -ms-font-size: var(--default-font-size);

    --color-01: #008083;
    --color-02: #269A90;
    --color-03: #4DB39C;
    --color-04: #73CDA7;
    --color-05: #99E6B3;
    --color-nav-over: #36B7AC;
    
    --top-phone-hover: 0;
    --top-email-hover: 0;
    --top-hours-hover: 0;
    --top-hover: 0;
    
    --font-Franklin: title-font, sans-serif;
    --font-Istok:  heading-font, sans-serif;
    --font-Orienta:  text-font, sans-serif;
    
    --shadow: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.75));

    --back-to-top: 1;
}

@font-face {
    /* 'Libre Franklin' */
    font-family: title-font;
    src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
}

@font-face {
    /* 'Istok Web' */
    font-family: heading-font;
    src: url("./fonts/IstokWeb-Regular.ttf");
}

@font-face {
    /* 'Orienta' */
    font-family: text-font;
    src: url("./fonts/Orienta-Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgba(0,0,0,0.1); */
    font-family: var(--font-Orienta);
    font-size: 1rem;

    word-wrap: normal;
    -ms-word-wrap: normal;
}

body{
    background-color: #e5e5e5;
}

h1{
    font-family: var(--font-Franklin);
    font-size: 3rem;
    color: var(--color-01);
}
h2,h3,h4,h5,h6{
    font-family: var(--font-Istok);
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 1.2rem;
}
h6{
    font-size: 1.1rem;
}
li{
    list-style-type: none;
}
/*=== End of base settings ===*/

/*=== Top details settings ===*/
/*=== Top details ===*/
.top-details{
    height: 30px;
    width: 1 vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-05);
}
.top-text{
    align-self: center;
}

.top-spans{
    padding: 0px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-spans a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.top-phone{
}

.top-email{
}

.top-hours{
}

.top-hover{
    position: absolute;
    top: 20px;
    background-color: var(--color-01);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
    width: max-content;
}

.top-phone-hover{
    opacity: var(--top-phone-hover);
}

.top-email-hover{
    opacity: var(--top-email-hover);
}

.top-hours-hover{
    opacity: var(--top-hours-hover);
}

.top-spacer{
    flex:1;
}

/*=== End of top details settings===*/

/*=== Header settings ===*/
/*=== Header ===*/
.header{
    position: sticky;
    top: 0px;
    width: 1 vw;
    background-color: rgb(230, 230, 230);
    z-index: 100;
}

/*=== Title ===*/
.header-title{
    margin-left: 5%;
    text-transform: uppercase;
    max-width: 90%;
    font-size: 5vw;
}

.header-capital{
    font-size: 7vw;
}

.header-line{
    height: 3px;
    width: 1 vw;
    display: flex;
    background-color:black;
}
.header-line-01{
    flex: 0.35;
    background-color: var(--color-01);
    filter: var(--shadow);
}
.header-line-02{
    flex: 0.45;
    background-color: var(--color-03);
    filter: var(--shadow);
}
.header-line-03{
    flex: 1;
    background-color: var(--color-04);
    filter: var(--shadow);
}

/*=== Navigation ===*/
.nav{
    height: 60px;
    width: 1 vw;
    display:flex;
    flex-direction:horizontal;
    background-color: var(--color-02);
    filter: var(--shadow);
}

.nav a{
    margin: auto;
    width: 15%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    transition: background-color 0.1s;
}

.nav a:hover{
    border-radius: 10px;
    background-color: var(--color-nav-over);
}

.nav a span{
    margin:auto;
    text-align: center;
}
/*=== End of header settings ===*/

/*=== Start of content settings ===*/
/*=== Content ===*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=== Sections ===*/
.content-section{
    width: 100%;
    position: relative;
}

/*=== Section contents ===*/
.section-anchor-displace{
    position: absolute;
    top: calc(-7.5vw - 110px);
}

.section-content{
    display: grid;
    padding: 0px 10px;
}

.section-content-right{
    text-align: left;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "spacer header"
        "spacer main";
}

.section-content-left{
    text-align: right;
    grid-template-columns: 80% 20%;
    grid-template-rows: 3rem 1fr;
    grid-template-areas:
        "header spacer"
        "main spacer";
}

.section-content-heading{
    grid-area: header;
    letter-spacing: 10px;
    padding-bottom: 20px;
    /* border: 1px solid #000; */
}

.section-content-main{
    grid-area: main;
    /* border: 1px solid #555; */
}

.section-content-spacer{
    grid-area: spacer;
    /* border: 1px solid #aaa; */
}

.profiles-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

/*=== Profiles ===*/
.profile{
    width: 100%;
    max-height: fit-content;
    text-align: left;
    border-radius: 10px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 10px;
    align-items: center;
}

.profile-image{
    max-height: 100%;
    max-width: 100%;
    display:flex;
    align-items: flex-start;
    justify-items: center;
}

.profile-image img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.profile-details{
    display: flex;
    flex-direction: column;
}

/*=== Testimonial Variants of Profiles ===*/
.profile-testimonial{
    grid-template-columns: auto;
}

.testimonial-details h5{
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.testimonial-details h5::before{
    content: "-";
    padding-right: 5px;
}

/*=== Social Media Variants of Profiles ===*/
.profile-social{
    grid-template-columns: 60px auto;
}

.profile-image-social{
    width: 60px;
    align-items: center;
    justify-items: center;
}

.profile-image-social img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.text-list{
    padding: 10px 0;
}

/*=== Decorative Side bars ===*/
.section-side-bars{
    /* opacity:0; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    pointer-events: none;
}

.section-side-bars-right{
    grid-template-columns: 10% 6% auto;
}

.section-side-bars-left{
    grid-template-columns: auto 6% 10%;
}

.side-bar-outer{
    width: 100%;
    height: 100%;
    background-color: var(--color-01);
    filter: var(--shadow);
}

.side-bar-mid{
    width: 100%;
    height: 100%;
    background-color: var(--color-02);
    filter: var(--shadow);
}

.side-bar-inner-set{
    width: 100%;
    height: 100%;
    filter: var(--shadow);
    display: grid;
}

.side-bar-inner-set-left{
    grid-template-columns: 86% 10% 4%;
}

.side-bar-inner-set-right{
    grid-template-columns: 4% 10% 86%;
}

.side-bar-inner{
    background-color: var(--color-03);
}

.side-bar-inner-line-short{
    height: 10px;
    background-color: var(--color-03);
    position: relative;
    top: 2.5rem;
}

.side-bar-inner-line-long{
    height: 5px;
    background-color: var(--color-03);
    position: relative;
    top: 2.5rem;
}
/*=== End of content settings ===*/

.footer{
    background-color: var(--color-01);
    height: 120px;
    padding: 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*=== End of Footer ===*/

/*=== Start of Back To Top Button ===*/

.back-to-top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: var(--color-03);
    z-index: 2;
    border-radius: 10px;
    transform:rotate(90deg);
    opacity: 0.25;
    transition: 0.25s opacity ease;
}

.back-to-top.active{
    opacity: 1;
}

.back-to-top a{
    color: white;
    text-decoration: none;
}
.back-to-top a:visited{
    color: white;
}

.back-to-top a div{
    display: relative;
    transform:translate(46%,-28%);
    width: 50%;
    height: 50%;
    font-size: 50px;
    /* border: 1px solid white; */
}

/*=== End of Back To Top Button ===*/

/*=== Start of media queries ===*/

@media only screen and (max-width: 768px){
    :root{
        --default-font-size: 12px;
    }
    
    .profile{
        grid-template-columns: 50px auto;
    }

    .profile-testimonial{
        grid-template-columns: auto;
    }
    
    .profiles-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .top-text{
        display: none;
    }

    .top-phone:hover{
        --top-phone-hover: 1;
    }
    
    .top-email:hover{
        --top-email-hover: 1;
    }
    
    .top-hours:hover{
        --top-hours-hover: 1;
    }
}

/*=== End of media queries ===*/